/* 
transform : translate(),scale(),rolate(),skew()
*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
    transform: translateX(50%);

}

.two {
    background: green;
    transform: translateY(30%);
}

.three {
    background: blue;
    /* transform: translateX(75%); */
    transform: translate(200px, 300px);
}